:root {
  /* ============ Colors ============ */

  /* ### Primary */
  --Pink: hsl(322, 100%, 66%);

  /* ### Neutral */
  --VeryPaleCyan: hsl(193, 100%, 96%);
  --VeryDarkCyan: hsl(192, 100%, 9%);
  --GrayishBlue: hsl(208, 11%, 55%);

  /* ============ Font Family ============ */

  /* ### Body, Call-to-actions */
  --OpenSans: "Open Sans", sans-serif;

  /* ### Headings */
  --Poppins: "Poppins", sans-serif;
}

/* Base and Resetting */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--Poppins);
}

button,
input[type="submit"] {
  cursor: pointer;
}

img {
  width: 100%;
  height: 100%;
}

body {
  font-family: var(--OpenSans);
  font-size: 1.8rem;
  font-weight: 400;
  max-width: 100vw;
  width: 100%;
  line-height: 1;
  overflow-x: hidden;
}

/* Component (Section) Styles */
.main {
  width: 100%;
  background-color: var(--VeryPaleCyan);
  background-image: url("../images/bg-hero-desktop.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.header,
.hero {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3.5rem 0;
}

.header__logo .header__logo__link {
  cursor: default;
}

.header__cta .header__cta__btn {
  outline: 0;
  border: 0;
  font-weight: 700;
  font-family: inherit;
  background-color: #ffffff;
  color: var(--VeryDarkCyan);
  font-size: 1.6rem;
  padding: 1.25rem 4.25rem;
  border-radius: 10rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  transition: all 0.2s ease-in-out 0.1s;
}

.header__cta .header__cta__btn:hover {
  opacity: 0.75;
  /* box-shadow: none; */
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 0 6rem;
  gap: 15rem;
}

.hero__content {
  display: grid;
  place-content: center;
  width: 50%;
}

.hero__content__title {
  color: var(--VeryDarkCyan);
  font-weight: 600;
  font-size: 4.5rem;
  line-height: 1.45;
  /* margin-bottom: 3.5rem; */
}

.hero__content__text {
  color: var(--VeryDarkCyan);
  line-height: 1.5;
  margin: 3.5rem 0 4.5rem;
  word-spacing: 1px;
}

.hero__content__cta {
  outline: 0;
  border: 0;
  font-weight: 700;
  font-family: inherit;
  color: #ffffff;
  background-color: var(--Pink);
  font-size: 1.6rem;
  padding: 1.25rem 4.25rem;
  border-radius: 10rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  /* margin-top: 5rem 0; */
  transition: all 0.2s ease-in-out 0.1s;
}

.hero__content__cta:hover {
  opacity: 0.75;
  /* box-shadow: none; */
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.features {
  margin: 12rem auto 24rem;
  max-width: 1440px;
  width: 100%;
}

.features__block {
  margin: 5rem auto;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.05) 0px 8px 32px;
  padding: 5rem;
  padding-left: 15rem;
  border-radius: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20rem;
}

.features__block:nth-child(2n) {
  flex-direction: row-reverse;
}

.features__block__heading {
  color: var(--VeryDarkCyan);
  font-weight: 600;
  font-size: 3.25rem;
  line-height: 1.45;
  margin-bottom: 2.5rem;
}

.features__block__text {
  color: var(--GrayishBlue);
  line-height: 1.5;
  /* margin: 3.5rem 0 4.5rem; */
  word-spacing: 1px;
}

.footer {
  background-color: var(--VeryDarkCyan);
  color: #ffffff;
  position: relative;
}

.footer__logo {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

.footer__container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.footer__logo .img-responsive {
  width: 240px;
  margin: 18rem 0 4rem;
}

.footer__block__one__list .list--item {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 3rem;
  margin: 3rem 0;
}

.footer__block__one__list .list--item:first-child {
  margin-top: 0;
}

.list--item--icon {
  width: 20px;
}

.list--item--text {
  line-height: 1.5;
}

.footer__block__two__list .list--item,
.footer__block__three__list .list--item {
  margin: 2.5rem 0;
}

.footer__block__two__list .list--item--link,
.footer__block__three__list .list--item--link {
  /* margin: 2.5rem 0; */
  color: #ffffff;
  transition: all 0.2s ease-in-out 0.1s;
}

.footer__block__two__list .list--item--link:hover,
.footer__block__three__list .list--item--link:hover {
  text-decoration: underline;
}

.footer__block__two__list .list--item:first-child,
.footer__block__three__list .list--item:first-child {
  margin-top: 0;
}

.footer__block__social {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.footer__block__social .list--item--link {
  font-size: 2rem;
  border: 2px solid white;
  width: 45px;
  height: 45px;
  display: grid;
  place-items: center;
  border-radius: 50%;
  color: white;
  transition: all 0.2s ease-in-out 0.1s;
}

.footer__block__social .list--item--link:hover {
  color: var(--Pink);
  border-color: var(--Pink);
}

.footer__copyright {
  max-width: 1440px;
  text-align: right;
  margin: 0.25rem auto;
  font-size: 12px;
}

.attribution {
  font-size: 13px;
  text-align: center;
  /* padding: 1.5rem 0; */
  padding: 4rem 0 2rem;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

/* HUDDLE CTA */
.huddle__cta {
  position: absolute;
  width: 100%;
  top: -50%;
  left: 50%;
  transform: translate(-50%, 75%);
  background-color: white;
  text-align: center;
  max-width: 768px;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
    rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
    rgba(0, 0, 0, 0.09) 0px 32px 16px;
  padding: 5rem 0;
}

.huddle__cta__title {
  color: var(--VeryDarkCyan);
  font-weight: 600;
  font-size: 3.5rem;
  line-height: 1.45;
  margin-bottom: 4rem;
}

.huddle__cta__btn {
  outline: 0;
  border: 0;
  font-weight: 700;
  font-family: inherit;
  color: #ffffff;
  background-color: var(--Pink);
  font-size: 1.6rem;
  padding: 1.25rem 4.25rem;
  border-radius: 10rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  transition: all 0.2s ease-in-out 0.1s;
}

.huddle__cta__btn:hover {
  opacity: 0.75;
  /* box-shadow: none; */
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

/* MEDIA QUERIES (MOBILE DESIGN) */
